.home-banner-slide {
  .swiper-slide {
    img {
      display: block;
      width: 100%;
      border-radius: 8px;
    }
  }
}

.home-category {
  .category-title {
    font-size: 16px;
    font-weight: $font-weight-bolder;
    color: $gray-800;
  }
  .category-list {
    position: relative;
    display: flex;
    padding: 40px 10px;
    width: 100%;
    height: 100%;
    background-color: $white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($black, .7);
      transition: background-color 100ms ease-in-out;
    }
    .text {
      position: relative;
      z-index: 2;
      display: block;
      margin: auto;
      color: $gray-200;
      font-size: 16px;
      font-weight: $font-weight-bold;
    }
    &:hover {
      &::after {
        background-color: rgba($black, .8);
      }
    }
  }
}

.home-discount {
  background-image: linear-gradient(178deg, $primary 70%, transparent 70%);
  .discount-head {
    display: flex;
    .discount-title {
      margin: auto 0;
      line-height: 28px;
      font-size: 18px;
      font-weight: $font-weight-bolder;
      color: $white;
    }
    .discount-action {
      display: flex;
      margin: auto 0;
      margin-left: auto;
      .view-more-button {
        display: block;
        margin: auto;
        font-size: 12px;
        line-height: 16px;
        color: $white;
        font-weight: $font-weight-bold;
        border: 1px solid $white;
        border-radius: $border-radius;
        padding: 5px 10px;
        transition: $btn-transition;
        &:hover {
          text-decoration: none;
          background-color: $white;
          border-color: $white;
          color: $primary;
        }
      }
    }
  }
  .discount-product-list {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-radius: $border-radius-lg;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0px 0px 5px 0px rgba(82,63,105, 0.15);
    .discount-label {
      position: absolute;
      left: 5px;
      top: 5px;
      display: block;
      background-color: $white;
      color: $primary;
      font-size: 12px;
      font-weight: $font-weight-bold;
      line-height: 16px;
      padding: 0 5px;
      border-radius: $border-radius;
    }
    .favorite-button {
      position: absolute;
      right: 5px;
      top: 5px;
    }
    .product-detail {
      padding: 5px;
    }
    .product-title {
      display: -webkit-box;
      font-size: 12px;
      line-height: 16px;
      height: 32px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      color: $gray-900;
      margin-bottom: 10px;
    }
    .product-price-original {
      display: inline-block;
      font-size: 12px;
      color: $gray-700;
      text-decoration: line-through;
      margin-right: 5px;
    }
    .product-price-reduced {
      display: inline-block;
      font-size: 14px;
      font-weight: $font-weight-bold;
      color: $primary;
    }
  }
}

