.product-page {
  .entry-nav {
    .entry-nav-wrapper {
      display: flex;
      .left {
        display: flex;
        padding-right: 20px;
        margin: auto;
        margin-left: 0;
        .entry-nav-title-key {
          font-size: 14px;
          line-height: 30px;
          font-weight: $font-weight-bold;
          color: $gray-500;
          margin: 0;
          padding: 0;
          margin-right: 5px;
          white-space: nowrap;
        }
        .entry-nav-title-value {
          font-size: 18px;
          line-height: 30px;
          font-weight: $font-weight-bold;
          color: $primary;
          margin: 0;
          padding: 0;
        }
      }
      .right {
        display: flex;
        margin: auto;
        margin-right: 0;
        .entry-nav-sort-option-label {
          display: block;
          margin: auto 0;
          margin-right: 10px;
          font-size: 14px;
          line-height: 1;
          font-weight: $font-weight-bold;
        }
        .entry-nav-sort-option {
          display: block;
          font-size: 14px;
          line-height: 36px;
          height: 36px;
          width: 120px;
          margin: 0px;
          padding: 0 10px;
          border: none;
          border-radius: $border-radius;
          background-color: $white;
          min-width: 60px;
          cursor: pointer;
          text-transform: none;
          color: $gray-700;
          outline: none;
        }
      }
    }
  }
}
