.favorite-button {
  display: inline-flex;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
  svg {
    display: block;
    margin: auto;
    width: 24px;
    height: 24px;
    g {
      [fill] {
        fill: $white;
      }
    }
  }
  &.favorited {
    svg {
      g {
        [fill] {
          fill: $primary;
        }
      }
    }
  }
  &::disabled {
    opacity: 0.8;
  }
}